@font-face {
  font-family: "norsebold";
  src: url("./Assets/Fonts/norse-bold-webfont.woff2") format("woff2");
  src: url("./Assets/Fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-size: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafbff;
}

/*Side bar style*/
.images {
  height: 100vh;
  width: 600px;
  background: url(./Assets/images/halie-west-25xggax4bSA-unsplash.jpg) center /
    cover no-repeat;
  padding-top: 200px;
}

.img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.img-title {
  color: white;
  font-family: "norsebold";
  font-size: 6rem;
}

.odin-logo {
  height: 100px;
  width: 100px;
}

.img-author {
  position: absolute;
  bottom: 20px;
  left: 100px;
}

.author-ref {
  color: white;
}

.author-ref a {
  text-decoration: none;
  color: white;
}

.author-ref a:hover {
  color: blue;
}

.form-container {
  width: 100%;
}

/*Form h3 style*/
.container-title {
  font-size: 2rem;
  margin: 20px;
}

/*Forms style*/
.forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
  padding: 30px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 30px;
}

.name,
.contacts,
.password {
  display: flex;
  gap: 30px;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
}

input {
  height: 30px;
  width: 250px;
  font-size: 20px;
  border: 1px solid #ccc;
}

input:invalid {
  border-color: red;
}

input:focus {
  border-color: blue;
  outline: none;
}

label {
  font-size: 20px;
}

/*Styling button*/

button {
  background-color: #596d48ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

button:hover {
  transform: scale(1.1);
}

/*Footer style*/
.footer {
  margin-top: 20px;
  margin-left: 20px;
}

.footer a {
  text-decoration: none;
  color: #596d48ff;
}
