@font-face {
  font-family: "norsebold";
  src: url("./Assets/Fonts/norse-bold-webfont.woff2") format("woff2");
  src: url("./Assets/Fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-size: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.images {
  height: 100vh;
  width: 600px;
  background: url(./Assets/images/halie-west-25xggax4bSA-unsplash.jpg) center /
    cover no-repeat;
  padding-top: 200px;
}

.img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.img-title {
  color: white;
  font-family: "norsebold";
  font-size: 6rem;
}

.odin-logo {
  height: 100px;
  width: 100px;
}

.img-author {
  position: absolute;
  bottom: 20px;
  left: 200px;
}

.author-ref {
  color: white;
}

.author-ref a {
  text-decoration: none;
  color: white;
}

.author-ref a:hover {
  color: blue;
}
